{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="container">
 <div class="card">
  <div class="card-body">
    <h2 class="card-title">{{destination.name}}</h2>
    <p class="card-text">{{destination.description}}</p>
    <p class="card-text"><small class="text-muted">{{destination.optimal_visiting_season}}</small></p>
   <img src="{{destination.pretty_picture.url}}" class="card-img-top" alt="...">
   </div>
</div>
</div>

<a href="{% url 'destination-update' destination.id %}"><button class="btn btn-success btn-lg active">Update</button>
</a>

<a href="{% url 'destination-delete' destination.id %}"><button class="btn btn-danger btn-lg active">Delete</button>
</a>

{% endblock content %}

